{
  "Fusion Apps Foundation": "your_password_here",
  "Fusion HCM Core Functional": "your_password_here",
  "Fusion Talent Management": "your_password_here",
  "Fusion Benefits": "your_password_here",
  "Fusion Payroll": "your_password_here",
  "Oracle Fusion Fast Formula Training": "your_password_here",
  "Fusion Compensation Workbench": "your_password_here",
  "Oracle Fusion HCM Approval Management": "your_password_here",
  "Oracle Time & Labour (OTL)": "your_password_here",
  "EBS HCM Experts": "your_password_here",
  "Fusion Procurement": "your_password_here",
  "Fusion HCM technical Training": "your_password_here",
  "Fusion Accounting Hub": "your_password_here",
  "Fusion Procure to Pay": "your_password_here",
  "Fusion Applications Installation & Patching R9": "your_password_here",
  "Development In Fusion Applications": "your_password_here",
  "Fusion Financials": "your_password_here",
  "Fusion Account Receivables": "your_password_here",
  "Fusion e-biz Tax": "your_password_here",
  "Oracle Apps DBA Training": "your_password_here",
  "Oracle Inventory Order Management & Purchasing": "your_password_here",
  "Oracle Subledger Accounting": "your_password_here",
  "Oracle EBS Financials Functional R12": "your_password_here",
  "OAF Training": "your_password_here",
  "Oracle R12 AGIS Training": "your_password_here",
  "ORACLE E-BUSINESS TAX": "your_password_here",
  "Oracle Demantra": "your_password_here",
  "ORACLE R12 HRMS PAYROLL TRAINING": "your_password_here",
  "Oracle Implement Configurator": "your_password_here",
  "Oracle R12 Project Accounting": "your_password_here",
  "Oracle R12 - Advanced Supply Chain Planning (ASCP) Fundamentals": "your_password_here",
  "Oracle R12 Financials Accounting Hub Fundamentals": "your_password_here",
  "Oracle Business Intelligence Applications Training": "your_password_here",
  "Oracle ADF Training": "your_password_here",
  "Oracle BPM - Business Process Management Training": "your_password_here",
  "SOA BPEL Mediator OSB 12c": "your_password_here",
  "Oracle Data Integrator ODI": "your_password_here",
  "Oracle MAF": "your_password_here",
  "Java, XML and Webservices": "your_password_here",
  "Oracle SQL and PL/SQL Training": "your_password_here",
  "Financial Integration": "your_password_here",
  "Fusion Security": "your_password_here",
  "Oracle Fusion Financials Reporting Training": "your_password_here",
  "Fusion Financials Approval": "your_password_here",
  "Integration Cloud Service": "your_password_here",
  "Oracle Sales Cloud Extensibility": "your_password_here",
  "Fusion Account Payables": "your_password_here",
  "Fusion General Ledger": "your_password_here",
  "Oracle Fusion Project Portfolio Management": "your_password_here",
  "Oracle Ebusiness Suite Fundamentals": "your_password_here",
  "Oracle R12 iProcurement": "your_password_here",
  "Oracle Service Contract Fundamentals": "your_password_here",
  "Oracle Transportation Management": "your_password_here",
  "Oracle Demantra : Predictive Trade Planning": "your_password_here",
  "IDM Foundation": "your_password_here",
  "Oracle Access Manager": "your_password_here",
  "Weblogic Training": "your_password_here",
  "Oracle Entitlement Server Training": "your_password_here",
  "Oracle Fusion MiddleWare 12c Administration": "your_password_here",
  "Oracle GoldenGate": "your_password_here",
  "Oracle Database 12c: New Features for Administrators Ed2": "your_password_here",
  "Oracle Database : Data Guard Administration": "your_password_here",
  "Oracle R12 Approvals Management Engine (AME)": "your_password_here",
  "Oracle ERP Development": "your_password_here",
  "Oracle BI Publisher": "your_password_here",
  "EBS Techno-Functional Package": "your_password_here",
  "Oracle Fusion HCM Reporting Training": "your_password_here",
  "Fusion Integration Training": "your_password_here",
  "Fusion HCM": "your_password_here",
  "Oracle Taleo Training": "your_password_here",
  "Taleo Connect Client": "your_password_here",
  "Siebel open UI": "your_password_here",
  "Hyperion Financial Management": "your_password_here",
  "Fusion Hyperion Planning": "your_password_here",
  "Mastering Hyperion Calculation Manager with Essbase and Planning": "your_password_here",
  "OBIEE Training": "your_password_here",
  "Oracle Workflow Training": "your_password_here"
}
